*
{
    box-sizing: border-box;
}

.calculator
{
    background-color: darkgray;
    border: 2px solid;
    margin: 15vh auto;
    height: 580px;
    width: 450px;
    border-radius: 2%;
}

.screen
{
    background-color: white;
    border: 2px solid;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 140px;
    border-radius: 2%;
}

.clear, .delete
{
    margin-top: 10px;
    width: 210px;
    height: 70px;

}

.clear
{
    background-color: yellowgreen;
    margin-left: 10px;
}

.delete
{
    background-color: crimson;
    margin-right: 10px;
}

.buttonsArea
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 0px;
}

.number, .operator
{
    margin-bottom: 10px;
    height: 70px;
    width: 100px;
}

button
{
    font-size: 20px;
    font-weight: bold;
    border-radius: 2%;
    border: 2px solid;
}

.currentNumber
{
    height: 60px;
    margin-top: 0px;
    font-size: 60px;
    padding-right: 5px;
    width: 100%;
    text-align: right;
}

.previousNumber
{
   height: 5px;
    font-size: 30px;
    padding-right: 5px;
    width: 100%;
    text-align: right;
}

button:hover
{
    cursor: pointer;
    filter: brightness(90%);
}